<app-main-nav>
  <div class="container mt-4">
    <div class="row">
      <div class="col-3">
        <app-cart-summary></app-cart-summary>
        <mat-selection-list #categoryList [multiple]="false">
          <mat-list-option (click)='changeCategory(undefined)'>
            All
          </mat-list-option>
          <mat-list-option *ngFor="let category of categories" [value]="category.name" (click)='changeCategory(category.name)'>
            {{category.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="col-9">
        <mat-card class="example-card m-3"
          *ngFor="let product of getProducts(categoryList.selectedOptions.selected[0]?.value) 
          | slice:((paginator.pageIndex)*pageSize):((paginator.pageIndex+1)*pageSize)">
          <img mat-card-image [src]="'../../../assets/img/'+product.imageUrl">
          <mat-card-content>
            <p>
              {{product.description}}
            </p>
          </mat-card-content>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>
            {{product.price}}
            <mat-icon>local_offer</mat-icon>
          </mat-card-subtitle>
          <button mat-raised-button color="accent" (click)='addNewProductToCart(product)'>
            Add to Cart
            <mat-icon mat-button>add_shopping_cart</mat-icon>
          </button>
          <button mat-raised-button class="mx-2">
            Details
          </button>
        </mat-card>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-9">
        <mat-paginator #paginator
        [length]="length"
        [pageSize]="pageSize"
        (page)="pageEvent = $event"
       >
</mat-paginator>
      </div>
    </div>
  </div>
</app-main-nav>
