<form class="example-form">
  <button mat-icon-button class="close-icon" mat-dialog-close>
    <mat-icon aria-hidden="false" >close</mat-icon>
  </button>
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput required type="password">
  </mat-form-field>
  <div class="btn-login">
      <button mat-raised-button color="primary">Log In</button>
  </div>
</form>